body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color:#EAF6F6;
  border-width:5px;
  margin: 100px auto;
}
h1{
  font-size: 562.5%;
  margin:50px auto auto auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Sacramento', cursive;
  color: #11999E;
}
p{
    line-height: 2;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.top{
  background-color: #EAF6F6;
  padding-top: 100px;
}
.middle{
  margin: 100px 0;/*100 for top and bottom and 0 for left and right*/
}
.bottom{
  background-color: #66BFBF;
  padding:50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.bottom_cloud{
  position:absolute;
  left: 250px;
}
.top_cloud{
  position: absolute;
  right:250px;
  top: 40px;

}
.propic{
  height: 150px;
  border-radius: 100%;
}
.skillPic1{
  height:150px;
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.skillPic2{
  height: 150px;
  float: right;
  margin-left: 30px;
}
.footer-link{
  color:  #11999E;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.intro{
  width: 30%;
  margin: auto;/*to center the element*/
}
.contact_msg{
  width: 30%;
  margin: 40px auto 60px;
}
.copy_write{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999A);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999A);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999A);
  background-image: -o-linear-gradient(top, #11cdd4, #11999A);
  background-image: linear-gradient(to bottom, #11cdd4, #11999A);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30a3cb;
  background-image: -webkit-linear-gradient(top, #30a3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30a3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30a3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30a3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30a3cb, #2bc4ad);
  text-decoration: none;
}
